*{
    box-sizing: border-box;
    font-family: Poppins;
}
.page {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: Poppins;
  overflow-y: scroll;
  color: black;
  background-color: #232632;
  overflow-x: hidden;
}

.header {
  background-color: #17181E;
  color: white;
  height: 150px;
  width: 100%;
  padding:25px;
  border-bottom: solid 2px #393C46;
}

.header h1 {
  margin: 0;
}

.left{
    display:flex;
    flex-direction: column;


    gap:5px;
}

.top{
    display:flex;
    width:100%;
    justify-content: space-between;
}

button{
    cursor:pointer;
    font-size: 1.2rem;
    color:white;
    
    font-weight: bold;
    padding: 2px 15px 2px 15px;
    border-radius: 15px;
    border:none;
}

.active{
    background-color: #292C37;
}

.inactive{
    background-color: transparent;
}

nav{
    display:flex;
    gap:10px;
}

.left h1{
    font-size: 1.2rem;
    font-weight: normal;
}

.headerTitle{
    width:100%;
    text-align: center;
}

.main{
    height:100%;
    width:100%;
}

.mainTop{
    margin-top: 25px;
    padding-left: 25px;
    display:flex;
    justify-content: left;
    margin-bottom: 25px;
}

.mainTop input {
  margin-left: 20px;
  background-color: #4C5167;
  color:#ffffff;
  width: 280px;
  height: 40px;
  padding: 5px 15px 5px 15px;
  border-radius: 15px;
  border:none;
  font-size: 1.2rem;
}

.tableBody{
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
    align-items: center;
}
.productsWrapper{
    color:white;
}

.productsWrapper h3{
    font-weight: normal;
}

.tableHeader{
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
    align-items: center;
    border-bottom: solid 1px rgb(0, 0, 0);
    color:white;
    background-color: #17181E;
}

.itemName{
    display:flex;
    gap:25px;
    justify-content: space-between;
    align-items: center;
    margin-left: 80px;
    padding-right: 25px;
}

.itemName button{
    width: 100px;
    height: 30px;
    font-weight: normal;
    font-size: 1rem;
}

.itemName h3{
    display:flex;
    color:white;
    border-top:none;
    grid-template-columns: repeat(6, 1fr);
    height: 50px;
    justify-content: center;
    align-items: center;
    padding: 0px;
    font-size: 1rem;
    font-family: Poppins;
    line-break: strict;
}

.itemActions{
    display:flex;
    gap:15px;
}


.filter{
    background-color: #393C46;
}


.tableBody h3, .tableHeader h3{
    border-top:none;
    display:flex;
    grid-template-columns: repeat(6, 1fr);
    width:100%;
    height: 50px;
    justify-content: center;
    align-items: center;
    margin:0px;
    padding: 0px;
    font-size: 1rem;
    font-family: Poppins;
}

.tableBody:hover{
    background-color: #292C37;
}

.actions{
    display:flex;
    width:100%;
    height:100%;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.actions button{
    font-family: Poppins;
    font-size: 0.8rem;
    padding: 5px;
    font-weight: normal;
    width: 30%;
    height: 35px;
}

.edit{
    background-color: #393c469c;
    border: solid 1px #464a57b2;
    font-size: 0.8rem;
}

.delete{
    background-color: rgba(155, 15, 15, 0.562);
    border: solid 1px rgba(168, 6, 6, 0.856);
    font-size: 0.8rem;
}

.addItem{
    background-color: #848aa0;
    font-weight: normal;
    border-radius: 5px;
}

.itemWrapper{
    border: solid 1px rgba(0, 0, 0, 0.507);
    border-bottom: none;
}

