*{
    box-sizing: border-box;
}
.homepage {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  overflow-y: scroll;
  color: black;
  background-color: #232632;
}

.header {
  background-color: #17181E;
  color: white;
  height: 150px;
  width: 100%;
  padding:25px;
  border-bottom: solid 2px #393C46;
}

.header h1 {
  margin: 0;
}

.left{
    display:flex;
    flex-direction: column;


    gap:5px;
}

.top{
    display:flex;
    width:100%;
    justify-content: space-between;
}

button{
    cursor:pointer;
    font-size: 1.2rem;
    color:white;
    
    font-weight: bold;
    padding: 2px 15px 2px 15px;
    border-radius: 15px;
    border:none;
}

.active{
    background-color: #292C37;
}

.inactive{
    background-color: transparent;
}

nav{
    display:flex;
    gap:10px;
}

.left h1{
    font-size: 1.2rem;
    font-weight: normal;
}

.headerTitle{
    width:100%;
    text-align: center;
}



.mainTop {
  position: relative;
  width: 100%;
  margin-top: 50px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.mainTop input {
  margin-left: 20px;
  background-color: #4C5167;
  color:#ffffff;
  width: 280px;
  height: 40px;
  padding: 5px 15px 5px 15px;
  border-radius: 15px;
  border:none;
  font-size: 1.2rem;
}

.dateContainer {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.itemsContainer{
  display:grid;
  grid-template-columns: repeat(5, 1fr);
  gap:50px;
  padding: 15px 50px 15px 50px;
  margin-top: 70px;
}

.itemDisplay{
  color:white;
  font-family: Poppins;
  font-weight: normal;
  font-size: 1rem;
  width: 200px;
  height:100px;
  display:flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #17181e8e;
  border: solid 2px #17181e;
  padding: 5px 15px 5px 15px;
  border-radius: 15px;
  cursor:pointer;
}